.news-box {
    background: rgba(230,230,230,.35);
    border-radius: .3rem;
    display: flex;
    margin-bottom: .7rem;
    transition: background .3s ease-in-out;
    width: 100%;
}
.news-box:hover {
    background: rgba(230,230,230,.5);
}
.news-box-headline {
    display: flex;
    line-height: 2.7rem;
    height: 2.7rem;
    padding: 0 .7rem;
}
.news-date {
    font-weight: 400;
    width: 8rem;
}
.news-title {
    max-width: 50rem;
}
.news-title-channel {
    font-weight: 700;
    font-size: 1rem;
}
.news-title-text {
    margin-left: .5rem;
}