.news-box {
    background: rgba(255,255,255,1);
    border-radius: .15rem;
    border-top: 5px solid gray;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
    display: flex;
    transition: border .3s ease-in-out, background .3s ease-in-out;
    width: 100%;
    padding: 1rem;
    margin-bottom: 1.5rem;
}