.main {
    display: flex;
    justify-content: center;
    max-width: 50rem;
    margin: 0 1rem;
    flex-direction: column;
}

.status-bar {
    color: rgba(0,0,0,.7);
    font-size: .9175rem;
    margin: 0 0 1rem 0;
}