.main {
    display: flex;
    justify-content: center;
    width: 70rem;
    margin: 3rem;
    flex-direction: column;
}

.status-bar {
    color: rgba(0,0,0,.7);
    padding: .5rem;
    font-size: .9175rem;
}